
:root{
    --primary:#CEEDC7;
    --background:#FFF6BD;
    --body-padding:4rem;
    --footer-color1:#6BA096;
    --footer-color2:#507871;
    --green:#20463F;
}

*{
    margin: 0;
    padding: 0;
    font-family:  'Fredoka', sans-serif;
    box-sizing: border-box;
}
body{
    background:var(--background);
    color: black;
}


.nav{
    width: 100%;
    background-color: var(--green );
    background-size: cover;
}

.nav-left img {
    margin-top: 15px;
    width: 128px;
}

.nav-content{
    justify-content: space-between;
    display: flex;
    align-items: center;
}


.nav-content{
    padding: 1rem var(--body-padding);
    position: relative;
}

.nav-ul{
    gap: 2rem;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-link a{
    text-decoration: none;
    color: var(--primary);
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--primary);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .signin-btn{
    background-color:rgba(206, 237, 199,0.3);
    padding: 5px 2rem;
    text-align: center;
    border-radius: 25px;
}

.page-title{
    padding: 2rem var(--body-padding);
}

.page-title h1{
    color: var(--green);
}

.page-title p{
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    align-items: center;
    display: inline;
}

.page-title span::before{
    content: " > ";
}

.page-title img {
    width: 20px;
}
.hero-art{
    
        width: 100%;
        height: 150vh;
        background-image: url("../../images/art\ 1.svg");
        background-size: cover;
        margin-bottom: 40rem;
}    
.art-section-col{
    width: 30rem;
    padding-top: 9rem;
    margin-left: 10rem;
    
}
.art-section-col h2{
    font-weight: bold;
    font-size: 38px;
}

.art-section-col p{
    font-size: 28px;
}
/* budhu pilime thiyena thana */
.art-section{
    padding: 6rem var(--body-padding);
    background-color:var(--primary);
    display: flex;
    align-items: center;
}

.art-section h2{
    font-weight: bold;
    font-size: 38px;
}

.art-section p {
    font-size: 28px;
}

.art-section-col1{
    max-width: 50rem;
}
.art-section-col2{
    margin-top: -1rem;

}

.art-section-col2 img {
    width: 40%;
    position: absolute;
    margin-top: -21rem;
    right: 1rem;
}


.art-section1 .art-section-col1{
    width: max-content;
    padding-top: 30rem;
    margin-left: 15rem;
}
.art-section1 h2{
    font-weight: bold;
    font-size: 38px;
}

.art-section1 p {
    font-size: 28px;
}

/* hahahahahah */


.art-section-col5{
    min-width: 40rem;
    padding-left: 40rem;
}

.art-section-col3 img {
    width: 40%;
    position:absolute;
    margin-top: -31rem;
    right: 55rem;
}

/* hahahahahahahah */
* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
/* ddjdjdjdjdjdj */


.art-section-col4 img{
    top: 30rem;
    bottom: 50rem;

}

.art-section h2{
    font-weight: bold;
    font-size: 38px;
}

.art-section1 p {
    font-size: 28px;
}

.footer{
    background-color: var(--footer-color1);
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--body-padding);
}

.footer-left{
    color: black;
}

.footer-left h2{
    margin-bottom: 1rem;
}

.footer-left-col{
    margin-right: 10rem;
}
.footer-left-col ul{
    font-weight: 550;
    
    
}

.footer-left-link{
    display: flex;
}


.footer-left-link li{
    list-style: none;
    margin-bottom: 8px;
}

.footer-left-link a{
    text-decoration: none;
    color: black;
    cursor: pointer;;
}

.footer-right{
    align-items: center;
    display: flex;
}

.footer-right img {
    width: 250px;
}

.bottom-footer{
    background-color: var(--footer-color2);
    text-align: center;
    padding: 2rem 0;
    color: white;
}

.top-btn{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
}

.top-btn img{
width: 5rem;

}


