@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
  font-family: "Fredoka", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}




.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.music-box{
  margin-top: 10rem;
  width: 150%;
  margin-left: -10rem;
}
.music-box1{
  margin-top: 10rem;
  width: 150%;
  margin-left: -10rem;
}

.center-image, .card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-slide {
  padding: 2em 0.5em;
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  background:black;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 350px;
  box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
}
.card > * {
  transition: opacity 350ms;
}
.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #2fd4dc;
  z-index: -1;
  text-align: left;
}
.card__background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 70%);
}

.card__category {
  text-transform: uppercase;
  color: #fff;
  background: #2fd4dc;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em 0.25em;
}

.card__title {
  text-transform: uppercase;
  margin: 0.5em 0;
  color: #2e5f80;
}

.card__duration {
  color: #6f7070;
}

.modal-wrapper, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: #2e5f80;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

.modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state=closed] .modal-wrapper {
  pointer-events: none;
}
[data-modal-state=closed] .overlay {
  pointer-events: none;
}
[data-modal-state=closed] .modal {
  opacity: 0;
}
[data-modal-state=closed] .overlay {
  opacity: 0;
}

[data-modal-state=opening] .modal__header, [data-modal-state=opening] .modal__content, [data-modal-state=opening] .modal__close-button, [data-modal-state=closing] .modal__header, [data-modal-state=closing] .modal__content, [data-modal-state=closing] .modal__close-button {
  opacity: 0;
}

[data-modal-state=opening] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state=closing] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state=open] .modal__header, [data-modal-state=open] .modal__content {
  transition: opacity 450ms;
}