:root{
    --primary:#CEEDC7;
    --background:#FFF6BD;
    --body-padding:4rem;
    --footer-color1:#6BA096;
    --footer-color2:#507871;
}

*{
    margin: 0;
    padding: 0;
    font-family:  'Fredoka', sans-serif;
    box-sizing: border-box;
}
body{
    background:var(--background);
    color: black;
}


/* lalalalalala */

/* lalalalalal */

.nav-left img {
    margin-top: 15px;
    width: 128px;
}

.nav-content{
    justify-content: space-between;
    display: flex;
    align-items: center;
}


.nav-content{
    padding: 1rem var(--body-padding);
    position: relative;
}

.nav-ul{
    gap: 2rem;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-link a{
    text-decoration: none;
    color: var(--primary);
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--primary);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.hero{
    position: relative;
}
.hero-content{
    color: var(--primary);
    position: absolute;
    top: 6rem;
    left: 4rem;
    align-items: center;
    width: auto;
    margin-top: 2rem;
}

.hero h2{
    font-size: 48px;
}

.hero p{
    font-size: 28px;
    font-weight: 400;
    max-width: 70%;
}
.hero-signin-btn{
    background-color:rgba(206, 237, 199,0.3);
    color: vat(--primary);
    padding: 0.5rem;
    width: 15rem;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2rem;
    
}

.hero-signin-btn a{
    color: var(--primary);
    text-decoration: none;
    font-size: 25px;
    font-family:"Poppins";
    font-weight: 500;
}

.signin-btn{
    background-color:rgba(206, 237, 199,0.3);
    padding: 5px 2rem;
    text-align: center;
    border-radius: 25px;
}

.home-about-contant{
    text-align: center;
padding: 10rem var(--body-padding);

}

.home-about-contant h1{
font-weight: bold;
font-size: 48px;
}
.get-item p{
    font-weight: bold;
    font-size: 20px;
}

.get-item-collection-row{
    display: flex;
    justify-content: space-around;
    padding: 4rem;

}

.get-item-collection{
    padding: 4rem var(--body-padding);
}

.get-item{
    text-align: center;
}

.collection-img{
    background-color: #FFD4B2;
    width: 25rem;
    height: 16rem;
    border-radius: 100px;
}

.collection-img2{
    display: flex;
    
}

.collection-img3 img{
    margin: auto;
}

.collection-img3{
    display: flex;
}

.collection-img2 img {
    margin: auto;
}

.footer{
    background-color: var(--footer-color1);
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--body-padding);
}

.footer-left{
    color: black;
}

.footer-left h2{
    margin-bottom: 1rem;
}

.footer-left-col{
    margin-right: 10rem;
}
.footer-left-col ul{
    font-weight: 550;
    
    
}

.footer-left-link{
    display: flex;
}


.footer-left-link li{
    list-style: none;
    margin-bottom: 8px;
}

.footer-left-link a{
    text-decoration: none;
    color: black;
    cursor: pointer;;
}

.footer-right{
    align-items: center;
    display: flex;
}

.footer-right img {
    width: 250px;
}

.bottom-footer{
    background-color: var(--footer-color2);
    text-align: center;
    padding: 2rem 0;
    color: white;
}

.top-btn{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
}

.top-btn img{
width: 5rem;

}


