/.half {
  width: 100%;
}

.a-down {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.a-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*/
/* slide styles */
* {
  box-sizing: border-box;
}

.slide {
  color: #555;
  width: 100%;
  height: 140vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slide-show {
  display: flex;
  width: 300vw;
  height: 100%;
  overflow: auto;
  position: absolute;

}

.slide-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  

}
.slide-item img {
  width: 100vw;
  height: 100%;
  background: fixed;

  
}
.slide-text div {
  height: 90%;
}
.slide-text div:nth-child(1) {
  flex-direction: column;
  padding: 0 5%;
  align-items: flex-start;
}



.slide-indicator {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.slide-indicator .indicator-item {
  height: 3px;
  width: 70px;
  margin: 0 10px;
  background: rgba(170, 170, 170, 0.3);
  border: dodgerblue;
  list-style: none;
}

[rol=low-indicator] {
  display: block;
  height: 100%;
  width: 1%;
  background: rgba(255, 255, 255, 0.7);
}

.blur-slide {
  filter: blur(3px);
}

/* smartphone */
@media (max-width: 768px) {
  .slide {
    color: #555;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .slide-title {
    font-size: 20px;
  }

  .indicator-item {
    height: 2px;
    width: 50px;
    margin: 0 10px;
    background: rgba(170, 170, 170, 0.3);
    border: dodgerblue;
    list-style: none;
  }
}